# Ignore the local secrets file
.streamlit/secrets.toml

# Ignore the virtual environment folder
cr/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore large data files that should not be in version control
*.shp
*.shx
*.dbf
*.prj
*.cpg